<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/common :: head"/>
<body th:if="${! sysAuthority.hasRole('ROLE_EDITOR')}">没有权限</body>
<body th:if="${sysAuthority.hasRole('ROLE_EDITOR')}">
<form th:if="! ${contentFileVO}">
    <h1>数据不存在或没有权限查看</h1>
    <h1>请返回检查数据</h1>
</form>
<form class="layui-form" id ="myform" action="" onsubmit="return false" th:if="${contentFileVO}">
    <div class="layui-form-item">
        <label class="layui-form-label">操作</label>
        <div class="layui-input-block">
            <label class="layui-btn" onclick="location.reload()" title="刷新页面，重新请求数据">刷新</label>
            <label class="layui-btn" onclick="add()" title="添加MP文章">添加文章</label>
        </div>
    </div>
    <div class="layui-form-item" style="display:none;">
        <label class="layui-form-label">碎片ID</label>
        <div class="layui-input-block">
            <input type="text" name="id" class="layui-input" th:value="${contentFileVO.id}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">碎片名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" required lay-verify="required" placeholder="请输入碎片名称"
                   autocomplete="off" class="layui-input" th:value="${contentFileVO.name}">
        </div>
    </div>
    <div class="layui-form-item" title="不可编辑，如需更改，找开发">
        <label class="layui-form-label" disabled>请求地址</label>
        <div class="layui-input-block" ty>
            <input type="text" name="url" class="layui-input" readonly="readonly" disabled
                   th:value="${contentFileVO.url}">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">碎片内容</label>
        <div class="layui-input-block">
            <textarea name="detail" id="detail"  rows="5" placeholder="请输入碎片内容" class="layui-textarea"  readonly="readonly" disabled th:text="${contentFileVO.detail}"></textarea>
        </div>
    </div>

    <table class="layui-table">
        <thead>
        <tr>
            <th>id</th>
            <th>作者ID</th>
            <th>标题</th>
            <th>URL</th>
            <th>作者</th>
            <th>图片</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mpArticle :${contentFileVO.mpArticleList}">
            <td th:text="${mpArticle.id}"></td>
            <td th:text="${mpArticle.authorId}"></td>
            <td th:text="${mpArticle.title}"></td>
            <td width="150" th:text="${mpArticle.url}"></td>
            <td th:text="${mpArticle.authorName}"></td>
            <td>
                <img id="coverImg" width="120" height="80" src="//m3.auto.itc.cn/auto/content/20190508/238425924f6e4b6fd4b6b29c3090826f.png"  th:if="${ mpArticle != null }" th:src="${ mpArticle.cover}"/>
            </td>
            <td >
                <label class="layui-btn layui-form-label" onclick="deleteMp(this)" title="刷新页面，重新请求数据" th:articleId = "${mpArticle.id}">删除</label>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="layui-form-item">
        <label class="layui-form-label">碎片类型</label>
        <div class="layui-input-block" >
            <input type="radio" name="type" value="0" title="普通碎片" th:if="${contentFileVO.type == 0}" checked>
            <input type="radio" name="type" value="0" title="普通碎片" th:if="${contentFileVO.type != 0}">
            <input type="radio" name="type" value="1" title="专题碎片" th:if="${contentFileVO.type == 1}" checked>
            <input type="radio" name="type" value="1" title="专题碎片" th:if="${contentFileVO.type != 1}">
            <input type="radio" name="type" value="2" title="广告碎片" th:if="${contentFileVO.type == 2}" checked>
            <input type="radio" name="type" value="2" title="广告碎片" th:if="${contentFileVO.type != 2}">
            <input type="radio" name="type" value="3" title="MP碎片" th:if="${contentFileVO.type == 3}" checked>
            <input type="radio" name="type" value="3" title="MP碎片" th:if="${contentFileVO.type != 3}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">发版备注</label>
        <div class="layui-input-block">
            <input type="text" name="publishRemark" placeholder="请输入输入框内容" autocomplete="off" class="layui-input" th:value="${contentFileVO.publishRemark}">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">保存</button>
        </div>
    </div>
</form>
<script src="/static/js/jquery/jquery.serializeJson-min.js"></script>

<script>
    var id = [[${id!=null ? id : '0'}]];
    layui.use('form', function () {
        var form = layui.form;
        form.on('submit(formDemo)', function (data) {

            $.ajax({
                url: "/content/editContent",
                type: "POST",
                //需要设置contentType为application/json;charset=utf-8
                contentType: "application/json;charset=utf-8",
                //参数是json字符串
                data: JSON.stringify(data.field),
                success: function (data) {
                    if (data != null) {
                        layer.alert(data.msg);
                    } else {
                        layer.alert("保存失败，出现未知错误，请稍后重试");
                    }
                },
                error:function(XMLHttpRequest, textStatus, errorThrown){
                    if(XMLHttpRequest!=null && XMLHttpRequest.status){
                        layer.alert("操作失败，如果长时间未操作，请重新登陆 status："+XMLHttpRequest.status);
                    }
                    layer.alert("操作失败，如果长时间未操作，重新登陆");
                }
            });
            // layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

    //iframe层
    function add() {
        layer.open({
            type: 2,
            title: 'MP添加',
            shadeClose: true,
            shade: 0.5,
            area: ['55%', '70%'],
            content: '/content/edit/mpMod/page/' + id //iframe的url
        });
    }

    //iframe层
    function deleteMp(mp) {
        var articleId = $(mp).attr('articleId');
        layer.confirm("确定要删除改片文章吗", {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                url: "/content/edit/mpMod/del/" + id ,
                type: "POST",
                data: "deleteArticleId=" + articleId,
                success: function (data) {
                    layer.alert(data.msg, {
                        title: '信息：'
                    });
                    // 执行重载
                    location.reload();
                },
                error:function(XMLHttpRequest, textStatus, errorThrown){
                    if(XMLHttpRequest!=null && XMLHttpRequest.status){
                        layer.alert("操作失败，如果长时间未操作，请重新登陆 status："+XMLHttpRequest.status);
                    }
                    layer.alert("操作失败");
                }
            });
        }, function () {
        });
    }

</script>

</body>

</html>