<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/common :: head"/>
<style>
    .layui-body {
        overflow-y: hidden;
    }

    .layui-table-cell{
        height:auto !important;
    }
</style>
<body th:if="${sysAuthority.hasRole('ROLE_VOTE')}">

<button class="layui-btn" onclick="location.reload()">刷新</button>

<intput type="button" class="layui-btn" onclick="create()" >新建投票</intput>

<table id="table" lay-filter="test"></table>


<script src="/static/layui/layui.all.js"></script>
<script>

    var groupId = [[${groupId}]];
    // layui.use('table', function () {
        var table = layui.table;
/*        var $ = layui.jquery;
        var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块*/
        table.render({
            elem: '#table'
            , url: '/vote/listVote/' + groupId //数据接口
            , response: {
                statusCode: 200 //规定成功的状态码，默认：0
            }
            //表头
            , cols: [ [
                { field: 'groupId', title: '活动Id', width: 70}
                ,{ field: 'id', title: 'Id', width: 70}
                ,{ field: 'title', title: '投票主题' }
                ,{ field: 'description', title: '投票主题介绍' }
                ,{ field: 'maxVoteNum', title: '票数限制' }
                ,{ field: 'status', title: '发布状态', templet: '#titleTplStatus', width: '5%'}
                ,{ field: 'mod', title: '操作', templet: '#operation'}
            ] ]
        });
    // });


    function openParentActive(text) {
        parent.parentAddTab(text);
    }


    function create() {
        parent.parentActive.tabAdd("/vote/create/" + groupId, "vote_create", "新建投票");
        //最后不管是否新增tab，最后都转到要打开的选项页面上
        parent.parentActive.tabChange("vote_create");
    }

    function pub(text) {
        var voteId = $(text).attr("value");
        var title = "确定要发布吗？";
        layer.confirm(title, {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                url: "/vote/pub/"+ voteId,
                type: "POST",
                data: null,
                success: function (data) {
                    if (data != null) {
                        layer.msg(data.msg);
                        table.reload('table');
                    } else {
                        alert("出现未知错误，请稍后重试");
                    }
                }
            });
        }, function () {});
    }


    function del(text) {
        var voteId = $(text).attr("value");
        var title = "投票删除后无法恢复，确定要删除吗？"
        layer.confirm(title, {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                url: "/vote/deleteVote/"+ voteId,
                type: "POST",
                data: null,
                success: function (data) {
                    if (data != null) {
                        layer.msg(data.msg);
                        table.reload('table');
                    } else {
                        alert("出现未知错误，请稍后重试");
                    }
                }
            });
        }, function () {});
    }


    function clearVote(text) {
        var voteId = $(text).attr("value");
        var title = "清零后将导致该投票下的全部选项票数归零！确定要清零吗？"
        layer.confirm(title, {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                url: "/vote/clearVote/"+ voteId,
                type: "POST",
                data: null,
                success: function (data) {
                    if (data != null) {
                        layer.msg(data.msg);
                        table.reload('table');
                    } else {
                        alert("出现未知错误，请稍后重试");
                    }
                }
            });
        }, function () {});
    }

</script>


<script type="text/html" id="operation">
    <intput type="button" class="layui-table-link site-demo-active" data-url= "/vote/edit/{{d.id}}" data-id="vote_edit_{{d.id}}"
         data-title="投票编辑 {{d.id}}" data-type="tabAdd" onclick="openParentActive(this)" >编辑投票</intput>
    &nbsp;&nbsp;&nbsp;&nbsp;

    <intput type="button" class="layui-table-link site-demo-active" data-url= "/vote/option/{{d.id}}" data-id="vote_option_{{d.id}}"
            data-title="{{d.title}}选项编辑{{d.id}}" data-type="tabAdd" onclick="openParentActive(this)" >编辑选项</intput>
    &nbsp;&nbsp;&nbsp;&nbsp;

    <intput id = "pub" type="button" class="layui-table-link" value="{{d.id}}" onclick="pub(this)">发布</intput>
    &nbsp;&nbsp;&nbsp;&nbsp;

    <intput id = "delelog" type="button" class="layui-table-link" value="{{d.id}}" onclick="del(this)">删除</intput>
    &nbsp;&nbsp;&nbsp;&nbsp;

    <intput type="button" class="layui-table-link" value="{{d.id}}" onclick="clearVote(this)">票数清零</intput>
</script>




<script type="text/html" id="cover">
    {{#  if(d.cover != null){ }}
    <div  style="width:50px" ><img src="{{ d.cover}}"  ></div>
    {{#  } }}
</script>

<script type="text/html" id="titleTplStatus">
    {{#  if(d.status == 0){ }}
    <button class="layui-btn layui-btn-xs layui-btn-normal">未发布</button>
    {{#  } else if(d.status == 1) { }}
    <button class="layui-btn layui-btn-xs">已发布</button>
    {{#  } else if(d.status == 2) { }}
    <button class="layui-btn layui-btn-xs layui-btn-primary">删除</button>
    {{#  } else { }}
    <button class="layui-btn layui-btn-xs layui-btn-normal">未发布</button>
    {{#  } }}
</script>


</body>
</html>