<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/common :: head"/>
<style>
    .layui-body {
        overflow-y: hidden;
    }
</style>
<body th:if="${! sysAuthority.hasRole('ROLE_ADMIN')}">没有权限</body>
<body class="layui-fluid"  style="margin-top: 5px;" th:if="${sysAuthority.hasRole('ROLE_ADMIN')}">

    <form class="layui-form" action="" onsubmit="return false">
        <div class="layui-form-item" th:if="${ contentFile != null and contentFile.id > 0 }">
            <label class="layui-form-label">碎片ID</label>
            <div class="layui-input-block">
                <input type="text" name="id"  readonly="readonly" disabled  placeholder="请输入碎片名称" autocomplete="off" class="layui-input" th:value="${ contentFile.id}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">碎片名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" required  lay-verify="required" placeholder="请输入碎片名称" autocomplete="off" class="layui-input" th:if="${ contentFile != null}" th:value="${ contentFile.name}">
                <input type="text" name="name" required  lay-verify="required" placeholder="请输入碎片名称" autocomplete="off" class="layui-input" th:if="${ contentFile == null}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">碎片URL</label>
            <div class="layui-input-block">
                <input type="text" name="url" required  lay-verify="required" placeholder="请输入请求URL" autocomplete="off" class="layui-input" th:if="${ contentFile != null}" th:value="${ contentFile.url}">
                <input type="text" name="url" required  lay-verify="required" placeholder="请输入请求URL" autocomplete="off" class="layui-input" th:if="${ contentFile == null}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">碎片类型</label>
            <div class="layui-input-block">
                <input type="radio" name="type" value="0" title="普通碎片" th:if="${contentFile.type == 0}" checked>
                <input type="radio" name="type" value="0" title="普通碎片" th:if="${contentFile.type != 0}">
                <input type="radio" name="type" value="1" title="专题碎片" th:if="${contentFile.type == 1}" checked>
                <input type="radio" name="type" value="1" title="专题碎片" th:if="${contentFile.type != 1}">
                <input type="radio" name="type" value="2" title="广告碎片" th:if="${contentFile.type == 2}" checked>
                <input type="radio" name="type" value="2" title="广告碎片" th:if="${contentFile.type != 2}">
                <input type="radio" name="type" value="3" title="MP碎片" th:if="${contentFile.type == 3}" checked>
                <input type="radio" name="type" value="3" title="MP碎片" th:if="${contentFile.type != 3}">
            </div>
        </div>
        <div classs="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

    <script>
        layui.use('form', function(){
            var form = layui.form;
            form.on('submit(formDemo)', function(data){
                //执行 Ajax 后重载
                $.ajax({
                    url: "/system/fileMod",
                    type: "POST",
                    contentType:"application/json;charset=utf-8",
                    data: JSON.stringify(data.field),
                    //参数是json字符串
                    success: function (data) {
                        if (data != null && data.code == 200) {
                            layer.msg(data.msg);
                        } else if (data != null) {
                            layer.alert(data.msg, {
                                title: '信息：'
                            })
                        } else {
                            layer.alert("出现位置错误，请刷新页面", {
                                title: '信息：'
                            })
                        }
                    }
                });
                table.reload('demo');
                return false;
            });
        });
    </script>

</body>
</html>