<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: head"/>
<style>
    .layui-body {
        overflow-y: hidden;
    }
</style>

<body th:if="${sysAuthority.hasRole('ROLE_STREAM')}">
<input type="hidden" th:value="${type}" id="type"/>
<form th:if="! ${module}">
    <h1>数据不存在</h1>
    <h1>请返回检查数据</h1>
</form>



<intput type="button" class="layui-btn" onclick="getMediaById()" >id抓取</intput>



<form class="layui-form" action="" onsubmit="return false" th:if="${module}">
    <!--隐藏区域-->
    <div class="layui-form-item" style="display:none;">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
            <input type="text" name="id" class="layui-input" th:value="${module.id}">
        </div>
    </div>

    <div class="layui-form-item" style="display:none;">
        <label class="layui-form-label">type</label>
        <div class="layui-input-block">
            <input type="text" name="type" class="layui-input" th:value="${module.type}">
        </div>
    </div>

    <div class="layui-form-item" style="display:none;">
        <label class="layui-form-label">status</label>
        <div class="layui-input-block">
            <input type="text" name="status" class="layui-input" th:value="${module.status}">
        </div>
    </div>


    <!--可见区域-->
    <div class="layui-form-item">
        <label class="layui-form-label">自媒体id</label>
        <div class="layui-input-block">
            <input id="moduleId" type="text" name="moduleId" class="layui-input" th:value="${module.moduleId}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">自媒体名字</label>
        <div class="layui-input-block">
            <input id="moduleName" type="text" name="moduleName" class="layui-input" th:value="${module.moduleName}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">头像</label>
        <div class="layui-input-block">
            <input id="cover" type="text" name="cover" class="layui-input" th:value="${module.cover}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容链接</label>
        <div class="layui-input-block">
            <input id="content" type="text" name="content" class="layui-input" th:value="${module.content}">
        </div>
    </div>

    <br>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">保存并发布</button>
        </div>
    </div>
</form>


<script>
    var type = $('#type').attr("value");

    var isSubmit = false;

    layui.use('form', function () {
        var form = layui.form;
        form.on('submit(formDemo)', function (data) {
            if (isSubmit == true) {
                layer.msg("您已经提交过了");
                return;
            }
            $.ajax({
                url: "/article/saveModule/" + type,
                type: "POST",
                //需要设置contentType为application/json;charset=utf-8
                contentType: "application/json;charset=utf-8",
                //参数是json字符串
                data: JSON.stringify(data.field),
                success: function (data) {
                    if (data != null) {
                        layer.alert(data.msg);
                        if (data.code == 200) {
                            isSubmit = true;
                        }
                    } else {
                        layer.alert("出现未知错误，请稍后重试");
                    }
                }
            });
            // layer.msg(JSON.stringify(data.field));
            return false;
        });
    });


    //抓取自媒体账号
    function getMediaById() {
        var moduleId = $("#moduleId").val();
        if (moduleId == null) {
            return;
        }
        
        $.ajax({
            url: "/article/getMediaAccount/" + moduleId,
            type: "POST",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                if (data != null) {
                    layer.msg(data.msg);
                    if (data.code == 200) {
                        var media = data.data;
                        $("#moduleName").val(media.moduleName);
                        $("#cover").val(media.cover);
                        $("#content").val(media.content);
                    }
                } else {
                    layer.alert("出现未知错误，请稍后重试");
                }
            }
        });
    };

</script>

</body>
</html>