<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common :: head"/>
<style>
    .layui-body {
        overflow-y: hidden;
    }
</style>

<body th:if="${sysAuthority.hasRole('ROLE_STREAM')}">
<input type="hidden" th:value="${poolId}" id="poolId"/>
<form th:if="! ${article}">
    <h1>数据不存在</h1>
    <h1>请返回检查数据</h1>
</form>
<form id ="myform" class="layui-form" action="" onsubmit="return false" th:if="${article}">
    <!--隐藏区域-->
    <div class="layui-form-item" style="display:none;">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
            <input type="text" name="id" class="layui-input" th:value="${article.id}">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" class="layui-input" th:value="${article.title}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容链接</label>
        <div class="layui-input-block">
            <input type="text" name="content" class="layui-input" th:value="${article.content}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图片(690*370)</label>
        <div class="layui-input-block">
            <input type="text" name="cover" class="layui-input" th:value="${article.cover}" placeholder="请使用切图比例：690 * 370">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">组图数</label>
        <div class="layui-input-block">
            <input type="text" name="picNum" class="layui-input" th:value="${article.picNum}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分享数</label>
        <div class="layui-input-block">
            <input type="text" name="shareNum" class="layui-input" th:value="${article.shareNum}">
        </div>
    </div>
    <br>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button id ="submit" class="layui-btn" lay-submit lay-filter="formDemo">保存并发布</button>
        </div>
    </div>
</form>

<script src="/static/js/jquery/jquery.serializeJson-min.js"></script>
<script>
    var poolId = $('#poolId').attr("value");

    layui.use('form', function () {
        var form = layui.form;
        form.on('submit(formDemo)', function (data) {
            $.ajax({
                url: "/article/saveAndPub/" + poolId,
                type: "POST",
                //需要设置contentType为application/json;charset=utf-8
                contentType: "application/json;charset=utf-8",
                //参数是json字符串
                data: JSON.stringify(data.field),
                success: function (data) {
                    if (data != null) {
                        layer.msg(data.msg);
                    } else {
                        layer.alert("出现未知错误，请稍后重试");
                    }
                }
            });
            return false;
        });
    });
</script>

</body>
</html>